.environment_intro {
  padding: 20px;

  .inner {
    display: flex;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 50px 0 100px 0;
  }

  .contbox {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 300;
  }

  .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    li {
      flex: 0 0 100%;
      padding: 80px 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 1.125rem;
      font-weight: 400;

      ~ li {
        border-top: 1px solid #ddd;
      }

      .img_wrap {
        width: 52%;
      }

      .cont_wrap {
        flex: 1;
        padding: 0 50px;
      }

      &:nth-child(even) .img_wrap {
        order: 2;
      }

      &:nth-child(even) .cont_wrap {
        order: 1;
        text-align: right;
      }

      &:nth-child(even) .cont_wrap h2 {
        text-align: right;
      }
    }

    h2 {
      width: 100%;
      font-size: 1.875rem;
      text-align: left;
      padding: 10px 10px 15px 10px;
      font-weight: 700;
    }

    h3 {
      font-size: 1.375rem;
      font-weight: 500;
    }

    .img {
      margin: 15px 0;
      border-radius: 10px;
      overflow: hidden;

      &:hover img {
        transform: scale(1.1);
      }

      img {
        max-width: 100%;
        height: 100%;
        transition: all 0.4s ease-in-out;
      }
    }

    .indent {
      width: 100%;
      text-indent: -6px;
      padding: 0 10px 10px 22px;
      line-height: 1.2;

      &:before {
        content: '-';
        display: inline-block;
        clear: both;
        padding: 0 4px 0 0;
      }

      &.type2 {
        text-indent: 0;
      }

      span {
        vertical-align: middle;
        margin: -2px 0 0 0;
      }

      &.type2:before {
        display: none;
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .environment_intro {
    .group li {
      padding: 40px 4px;
    }

    .group li .cont_wrap {
      padding: 0 35px;
    }
  }
}

@media all and (max-width: 768px) {
  .environment_intro {
    .group {
      li {
        flex-direction: column;

        .img_wrap {
          width: 100%;
        }

        .cont_wrap {
          padding: 15px 0;
          width: 100%;
        }

        &:nth-child(even) .img_wrap {
          order: 1;
        }

        &:nth-child(even) .cont_wrap {
          order: 2;
          text-align: left;
        }

        &:nth-child(even) .cont_wrap h2 {
          text-align: left;
        }
      }

      h2 {
        padding: 10px 0 12px 0;
      }

      .indent {
        padding: 0 10px 10px 12px;

        &:before {
          padding: 0 4px 0 0;
        }

        &.type2 {
          padding-left: 0;
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  .environment_intro {
    .inner {
      padding: 20px 0 50px 0;
    }

    .group li {
      padding: 30px 0;
    }
  }
}
