.information_intro {
  padding: 20px;
}

.information_intro .inner {
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 50px 0 100px 0;
}

.information_intro .contbox {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 300;
}

.information_intro .group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.information_intro .group li {
  flex: 0 0 100%;
  padding: 80px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.125rem;
  font-weight: 400;
}

.information_intro .group li ~ li {
  border-top: 1px solid #ddd;
}

.information_intro .group li .img_wrap {
  width: 52%;
}

.information_intro .group li .cont_wrap {
  flex: 1;
  padding: 0 50px;
}

.information_intro .group li:nth-child(even) .img_wrap {
  order: 2;
}

.information_intro .group li:nth-child(even) .cont_wrap {
  order: 1;
  text-align: right;
}

.information_intro .group li:nth-child(even) .cont_wrap h2 {
  text-align: right;
}

.information_intro .group h2 {
  width: 100%;
  font-size: 1.875rem;
  text-align: left;
  padding: 10px 10px 15px 10px;
  font-weight: 700;
}

.information_intro .group h3 {
  font-size: 1.375rem;
  font-weight: 500;
}

.information_intro .group .img {
  margin: 15px 0;
  border-radius: 10px;
  overflow: hidden;
}

.information_intro .group .img:hover img {
  transform: scale(1.1);
}

.information_intro .group .img img {
  max-width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.information_intro .group .indent {
  width: 100%;
  text-indent: -6px;
  padding: 0 10px 10px 22px;
  line-height: 1.2;
}

.information_intro .group .indent:before {
  content: '-';
  display: inline-block;
  clear: both;
  padding: 0 4px 0 0;
}

@media all and (max-width: 1000px) {
  .information_intro .group li {
    padding: 40px 4px;
  }

  .information_intro .group li .cont_wrap {
    padding: 0 35px;
  }
}

@media all and (max-width: 768px) {
  .information_intro .group li {
    flex-direction: column;
  }

  .information_intro .group li .img_wrap {
    width: 100%;
  }

  .information_intro .group li .cont_wrap {
    padding: 15px 0;
    width: 100%;
  }

  .information_intro .group li:nth-child(even) .img_wrap {
    order: 1;
  }

  .information_intro .group li:nth-child(even) .cont_wrap {
    order: 2;
    text-align: left;
  }

  .information_intro .group li:nth-child(even) .cont_wrap h2 {
    text-align: left;
  }

  .information_intro .group h2 {
    padding: 10px 0 12px 0;
  }

  .information_intro .group .indent {
    padding: 0 10px 10px 12px;
  }

  .information_intro .group .indent:before {
    padding: 0 4px 0 0;
  }
}

@media all and (max-width: 480px) {
  .information_intro .inner {
    padding: 20px 0 50px 0;
  }

  .information_intro .group li {
    padding: 30px 0;
  }
}
