.footer {
  font-size: 14px;
  color: #dddddd;
  padding: var(--inner-gap);
  background-color: #222;
}

.footer .inner {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-width);
  line-height: 1.4;
}
